@import 'modern-normalize';

:root {
  --color-accent: #ffccbb;
  --color-background: #eae7dc;
  --color-background-light: #6eb5c0;
  --color-text-light: #006c84;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-light);
}
.titel {
  margin-top: 40px;
  font-size: 50px;
  text-align: center;
}
.text {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}
